:root {
    --page-width: 1280px;
    --block-padding: 80px 40px 100px;
    --color-button: #F1CDB3;
    --font-georgia: Georgia;
    --font-color-dark: #545454;
    --border-radius-100: 100px;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --background-color-lightgrey: #F6F6F6;
    --font-color: #292929;
    --button-grey: #CDCDCD;
}

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}
p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


.link_nav_hover {
display: flex;
flex-direction: column;
align-items: center;
padding: 8px 2px;
border-bottom: solid 3px;
border-color: transparent;
transition: all 0.3s ease-in-out;
}

.link_nav {
    color: #545454;
    font-family: var(--font-georgia);
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease-in-out;
}

.link_nav:hover {
    color: #292929;
}



.nav_active {
    border-color: var(--color-primary);
    cursor: default;
    pointer-events: none;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-padding-top: 70px;
    
    
}



header {
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 100;
    background-color: #FFFFFF;
    margin-bottom: -120px;
    
    
}

.header {
max-width: var(--page-width);
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 30px 40px;
align-items: center;
}

.nav-menu > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}


.logo {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.logo > h1 {
    color: #545454;
}

.logo:hover > h1 {
    color: #FFFFFF;
}

.subtitle {
    font-family: Arial;
    color: var(--color-primary);
    font-size: 13px;
    line-height: 15px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    color: #292929;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.logo:hover h1,
.logo:hover .subtitle {
    color: var(--color-primary);
}

.burger-menu {
    
    display: none;
}

h1 {
    padding: 0;
    margin: 0;
    font: normal;
    font-family: var(--font-georgia);
    color: var(--color-primary);
    letter-spacing: 0.06em;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    font-style: normal;
    text-decoration: none;
}

h2 {
    padding: 0;
    margin: 0;
    font: normal;
    font-family: var(--font-georgia);
    color: white;
    letter-spacing: 0.04em;
    font-size: 44px;
    font-weight: 300;
    line-height: 130%;
    font-style: normal;
    text-decoration: none;
    text-align: start;
}

h3 {   
    font-family: var(--font-georgia);
    color: var(--font-color-dark);
    font-size: 35px;
    line-height: 45px;
    font-style: normal;
    font-weight: 300;
    padding: 0;
    margin: 0;
    letter-spacing: 0.04em;

}

h4 {
    font: 400;
    font-family: var(--font-georgia);
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    margin: 0;
    padding: 0;
    font-weight: 400;
    white-space: normal;
    padding: 0;
    margin: 0;
    }

h5 {   
    font-family: var(--font-georgia);
    color: var(--font-color-dark);
    font-size: 15px;
    line-height: 110%;
    font-style: normal;
    font-weight: 300;
    padding: 0;
    margin: 0;


}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 auto;
    
}


.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-lightgrey);
    width: 100%;
    margin: 0;
    padding: 0;
}

.pets_content{
    max-width: var(--page-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 45px;
    margin-top: 200px;
    margin-bottom: 100px;
    
}

.pets_content > h3 {
    text-align: center;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;

}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 30px;
    transition: border-color 0.3s ease;
    
    

}

.card:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card p {
    font-family: var(--font-georgia);
    font-size: 20px;
    color: var(--font-color-dark);
}

.button_arrow {
    display: flex;
    border: 2px;
    border-radius: 100%;
    border-style: solid;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-georgia);
    font-size: 20px;
    line-height: 115%;
}

.disabled {
    border-color: var(--button-grey);
    color: var(--button-grey);
    cursor: not-allowed;
}

.active {
    background-color: var(--color-button);
    border-color: var(--color-button);
    color: var(--font-color);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    cursor: pointer;
}

.not_active {
    cursor: pointer;
    border-color: var(--color-button);
    background-color: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: var(--font-color);
}



.not_active:hover{
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.Learn_more {
    max-width: 187px;
    width: 100%;
    height: 52px;
    border: solid;
    border-width: 2px;
    border-color: var(--color-button);
    border-radius: var(--border-radius-100);
    background-color: transparent;
    font-family: var(--font-georgia);
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Learn_more:hover{
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}





footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*background-image: url(images/footer-background.png);*/
    background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    background-repeat: repeat;
    background-size: auto;
    bottom: 0;    
}

.footer_content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    max-width: var(--page-width);
    width: 100%;
    padding: 40px 40px 0px;

}

.footer_content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    max-width: var(--page-width);
    width: 100%;
    padding: 40px 40px 0px;
    flex-wrap: wrap;

}

.footer_content_contacts {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 20px;
    min-width: 280px;
}


.footer_contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    min-height: 55px;

}

.footer_puppy {
    max-width: 300px;
    max-height: 310px;
}

.footer_title {
    font-family: var(--font-georgia);
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;

}

.footer_contact_p {
    font-family: var(--font-georgia);
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;

}


